{% extends 'base.html' %}

{% block body %}
    <div class="col-lg-9 my-auto">
        <div class="header-content mx-auto">

            <h1 class="mb-5">
                Forbidden
            </h1>
            <p>
                You don't have the permission to access the requested resource. It is either read-protected or not
                readable by the server.
            </p>
        </div>
    </div>
    <div class="col-lg-3 my-auto">
        <div class="pastes">

        </div>
    </div>

{% endblock %}


