{% extends 'base.html' %}

{% block body %}
    <div class="col-lg-9 my-auto">
        <div class="header-content mx-auto">

            <h1>
                New Paste
            </h1>

            <form action="" method="post" class="send-form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="">
                                Title:
                            </label>
                            {{ form.title }}
                        </div>
                        <div class="col-sm-6">
                            <label for="">
                                Syntax:
                            </label>
                            {{ form.code_id }}
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="">
                                Paste Expiration:
                            </label>
                            {{ form.date_timelive }}
                        </div>
                        <div class="col-sm-6">
                            <div class="form-checkbox">
                                <label for="private_msg" class="label-checkbox">Paste Exposure:</label>
                                {{ form.is_private }}
                            </div>
                        </div>
                    </div>
                </div>

                {{ form.paste(required=True) }}

                {{ form.submit(class="btn") }}
            </form>


        </div>
    </div>
    <div class="col-lg-3 my-auto">
        <div class="pastes">
            <h3>
                Public Pastes
            </h3>

            {% for item in last_pasts %}
                <a href="{{ url_for('Index.pastes', link=item.link) }}" class="paste">
                    <p class="paste_title">{{ item.title }}</p>
                    <span class="paste_date">{{ item.date.strftime('%H:%M:%S') }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}


